-const year = new Date(Date.now()).getFullYear()

html
  head
    title #{subject}
    style.
      .centered {
        text-align: center;
        color: #292d2f;
      }
      .header {
        background-color: #d9d9d9;
        width: inherit;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      .bold {
        font-weight: bold;
      }
      .body {
        background-color: #d9d9d9;
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;
      }
      .footer {
        background-color: #52595D;
        width: inherit;
        min-height: 50px;
        position: relative;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
        font-size: 12px;
      }
      .copyRight {
        color:white;
        text-align: center;
      }
      .image {
        height: 80px;
      }
  body.body
    h3.centered Dear #{name}!

    p.centered A password reset request has been received for your email address! If this request was made by you, you can reset your password by clicking the following link:

    a(href=linkResetPassword).centered Reset Password

    p.centered If the request was not made by you, please ignore this email.

    .regards
      p.centered Best regards,
      p.centered.bold The CompanyNameHere Team

    .footer
      p.copyRight CompanyNameHere. © #{year} | All rights reserved
